@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}
/* 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Hide the scrollbar track */
::-webkit-scrollbar {
  /* display: none; */
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(239 68 68); 
  border-radius: 10px; 
}

/* Optionally, style the track (the area where the thumb moves) */
::-webkit-scrollbar-track {
  background-color: rgba(17,24,39,255); 
}

/* Optionally, style the corner where two scrollbars meet */
::-webkit-scrollbar-corner {
  background-color: #73282b; /* color of the corner */
}
